<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="formulario">
        <h3>Ticket</h3>
        <label for="txtnumero"><span>Numero</span><input id="txtnumero" readonly/></label>
        <label for="txtplaca"><span>Placa</span><input id="txtplaca" placeholder="ABC-1234"/></label>  
        <label for="txtentrada"><span>Fecha/Hora de Entrada</span><input id="txtentrada"/></label>
        <label for="txtsalida"><span>Fecha/Hora de Salida</span><input id="txtsalida"/></label>
        <div class="example-button-row">
            <button id="boton" mat-raised-button>Generar</button>
            <button mat-raised-button routerLink="/paginas/vehiculo" >Cancelar</button>
            </div>  
        </div>
    </div>
</body>
</html>