<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="formulario">
            <h2>Factura</h2>
            <div class="numyfec">
                <label for="txtnumero"><span>Numero de Factura</span><input id="txtnumero" placeholder="01001-011001" [(ngModel)]="factura.numero"/></label>  
                <mat-form-field class="example-full-width">
                  <label for="txtfecha"><span>Fecha</span></label>
                  <input matInput [matDatepicker]="picker" id="txtfecha" [(ngModel)]="factura.fecha"/>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="cedu">
                <label for="txtcedula"><span>Cedula</span><input id="txtcedula" placeholder="0111111111" [(ngModel)]="cliente.cedula"/></label> 
                <button class="botonB" (click)="buscar(cliente)" mat-raised-button>Buscar</button>   
            </div>
            <div class="nomyape">
                <label for="txtnombre"><span>Nombre</span><input id="txtnombre"  [(ngModel)]="txtnombre"/></label>  
                <label for="txtapellido"><span>Apellido</span><input id="txtapellido"  [(ngModel)]="txtapellido"/></label>
                <label for="txtdireccion"><span>Direccion</span><input id="txtdireccion"  [(ngModel)]="txtdireccion"/></label>  
            </div>
            <div class="corycel">
                <label for="txtcorreo"><span>Correo</span><input id="txtcorreo" placeholder="example@gmail.com" [(ngModel)]="txtcorreo"/></label>  
                <label for="txtcelular"><span>Celular</span><input id="txtcelular" placeholder="0999999999" [(ngModel)]="txtcelular"/></label>   
            </div>
            <div class="detypres">
                <label for="txtdetalle"><span>Detalle</span><input id="txtdetalle" placeholder="parqueo" [(ngModel)]="detalle.detalle"/></label>  
                <label for="txtpreciounitario"><span>Precio Unitario</span><input id="txtpreciounitario" [(ngModel)]="detalle.costoUnitario" /></label>       
                <label for="txtsubtotal"><span>Subtotal</span><input id="txtsubtotal" [(ngModel)]="factura.subtotal" /></label>  
            </div>
            <div class="ivaytot">
              <label for="txtiva"><span>Iva</span><input id="txtiva" [(ngModel)]="txtiva"/></label>         
              <label for="txttotal"><span>Precio Total</span><input id="txttotal" [(ngModel)]="factura.total" /></label>  
          </div>
            <div class="example-button-row">
                <button id="boton" mat-raised-button (click)="guardarWS()">Guardar</button>
            </div>
        </div>
        <div class="tabla">
            <h2>Tabla</h2>
        <!--    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
              <ng-container matColumnDef="Cedula"  >
                <mat-header-cell  *matHeaderCellDef> N° de Factura </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.cedula}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef> Cedula/RUC </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.nombre}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Apellido">
                <mat-header-cell *matHeaderCellDef> Nombre y Apellido </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.apellido}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Celular">
                <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.celular}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Correo">
                <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.correo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Direccion">
                <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.direccion}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <span *ngIf="listadoClienteWS.length == 0">
              No existen contactos
          </span>-->
          </div>
    </div>
</body>
</html>