.container{
    display: flex;
    justify-content: center;
    flex-direction: row; 
    align-items: center;
    height: 500px;
    gap: 8px;
}
.formulario{
    background-color: #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 30px;
    width: auto;
    height: 91%;
    bottom: -7px;
    position: relative;
    gap: 3px;
}
label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    outline: none;
}
span{
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
input{
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    border: none;
    background-color: #588B8B;
    outline: none;
}
.nomyape{
    display: flex;
    gap: 10px;
    width: 100%; 
}
.nomyape label{
    display: flex;
    flex-direction: column;
}
.cedu{
    display: flex;
    gap: 10px;
    width: 100%;
}
.corycel{
    display: flex;
    gap: 10px;
    width: 100%;
}
.corycel #txtcelular{
    width: 50%;
}
.numyfec{
    display: flex;
    gap: 10px;
    width: 100%;
}
.detypres{
    display: flex;
    gap: 10px;
    width: 76%;
}
#txtpreciounitario{
    width: 23%;
}
#txtsubtotal{
    width: 28%;
    position: relative;
} 
.ivaytot{
    display: flex;
    gap: 10px;
    width: 43%; 
    position: relative;
    left: 33%;
}
#txtiva{
    width: 23%;
}
#txttotal{
    width: 28%;
}
#boton{
    background-color: #185353;
    display: flex;
    margin: 3px;
    position: relative;
    top: -37px;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  //tabla
  .mat-mdc-table {
    overflow: auto;
    width: 100%; 
    }
    mat-cell{
        background-color: #818A89;
      }
      mat-table{
        background-color: #4F7CAC;
      }
      
.tabla{
    width: 693px;
    display:flex;
    flex-direction: column;
    position: relative;
    top: auto;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}
.botonB{
    background-color: #185353;
    display: flex;
    position: relative;
    margin-top: 20px;
}
#txtfecha{
    padding: 6px 1px;
    top: 50px;
}