<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="formulario">
            <h2>Factura</h2>
            <div class="numyfec">
                <label for="txtnumero"><span>Numero de Factura</span><input id="txtnumero" placeholder="01001-011001" [(ngModel)]="factura.numeroFactura"/></label>  
                <mat-form-field class="example-full-width">
                  <label for="txtfecha"><span>Fecha</span></label>
                  <input matInput [matDatepicker]="picker" id="txtfecha" [(ngModel)]="factura.fecha"/>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="cedu">
                <label for="txtcedula"><span>Cedula</span><input id="txtcedula" placeholder="0111111111" [(ngModel)]="cliente.cedula"/></label> 
                <button class="botonB" (click)="buscar(cliente)" mat-raised-button>Buscar</button>  
            </div>
            <div class="ticket">
              <button class="botonB" (click)="buscar(cliente)" mat-raised-button>Buscar Ticket</button>  
          </div>
            <div class="nomyape">
                <label for="txtnombre"><span>Nombre</span><input id="txtnombre"  [(ngModel)]="txtnombre"/></label>  
                <label for="txtapellido"><span>Apellido</span><input id="txtapellido"  [(ngModel)]="txtapellido"/></label>
                <label for="txtdireccion"><span>Direccion</span><input id="txtdireccion"  [(ngModel)]="txtdireccion"/></label>  
            </div>
            <div class="corycel">
                <label for="txtcorreo"><span>Correo</span><input id="txtcorreo" placeholder="example@gmail.com" [(ngModel)]="txtcorreo"/></label>  
                <label for="txtcelular"><span>Celular</span><input id="txtcelular" placeholder="0999999999" [(ngModel)]="txtcelular"/></label>   
            </div>
            <div class="detypres">
                <label for="txtdetalle"><span>Detalle</span><input id="txtdetalle" placeholder="parqueo" [(ngModel)]="detalle.detalle"/></label>  
                <label for="txtpreciounitario"><span>Precio Unitario</span><input id="txtpreciounitario" [(ngModel)]="detalle.costoUnitario" /></label>       
                <label for="txtsubtotal"><span>Subtotal</span><input id="txtsubtotal" [(ngModel)]="factura.subtotal" /></label>  
            </div>
            <div class="ivaytot">
              <label for="txtiva"><span>Iva</span><input id="txtiva" [(ngModel)]="txtiva"/></label>         
              <label for="txttotal"><span>Precio Total</span><input id="txttotal" [(ngModel)]="factura.total" /></label>  
          </div>
            <div class="example-button-row">
                <button id="boton" mat-raised-button (click)="guardarWS(factura,detalle)">Guardar</button>
            </div>
        </div>
        <div class="tabla">
            <h2>Tabla</h2>
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
              <ng-container matColumnDef="N° de Factura"  >
                <mat-header-cell  *matHeaderCellDef> N° de Factura </mat-header-cell>
                <mat-cell *matCellDef="let factura"> {{factura.numeroFactura}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let factura"> {{factura.cliente.nombre}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Apellido">
                <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
                <mat-cell *matCellDef="let factura"> {{factura.cliente.apellido}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Fecha">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let factura"> {{factura.fecha}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Detalle">
                <mat-header-cell *matHeaderCellDef> Detalle </mat-header-cell>
                <mat-cell *matCellDef="let factura"> {{factura.detalles[0].detalle}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Total">
                <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                <mat-cell *matCellDef="let factura"> {{factura.total}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Accion">
                <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
                <mat-cell *matCellDef="let cliente">
                  <!--ngClass se utiliza para agregar clases dinamicamente en funcion de una condicion para agregar css al boton de la fila que va hacer editada con la
                  condicion de que selectedCliente sea igual a el cliente-->
                  <button class="botonT"(click)="editarWS(factura)" [ngClass]="{'selected-row':factura===selectedFactura}">Editar</button>
                  <button class="botonT" >Borrar</button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <span *ngIf="listadoFacturaWS.length == 0">
              No existen contactos
          </span>
          </div>
    </div>
</body>
</html>