.container{
    display: flex;
    justify-content: center;
    flex-direction: row; 
    align-items: center;
    height: 500px;
    gap: 130px;
}
.formulario{
    display: flex;
    margin-left: 10%;
    float: left;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}


label{  
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
}
label span{
    font-weight: 700;
}
input{
    border-radius: 10px;
    padding: 8px 20px;
    display: flex;
    border: none;
    background-color: #588B8B;
    outline: none;
}

input:hover{
    opacity: 0.75;
}

#boton{
    background-color: #588B8B;
    display: flex;
    margin: 20px;
}
.example-button-row {
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: center;
  }

  
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  //tabla
  .mat-mdc-table {
    overflow: auto;
    width: 100%; 
    }
    mat-cell{
        background-color: #818A89;
      }
      mat-table{
        background-color: #4F7CAC;
      }
      
.tabla{
    width: 875px;
    display:flex;
    flex-direction: column;
    position: relative;
    top: auto;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}
.botonT{
    border-radius: 10px;
    border: none;
    background-color: #4F7CAC;
    padding: 5px;
    display: flex;
    margin: 5px;
  }
  .botonT:hover{
    opacity: 0.75;
  }
  .selected-row {
    background-color: lightgray;
  }