<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cliente.component.scss">
</head>
<body>
    <div class="container">
        <div class="formulario">
            <h2>Nuevo Usuario</h2>
            <label for="txtcedula"><span>Cedula</span><input id="txtcedula" [(ngModel)]="cliente.cedula" placeholder="0111111111" [style.background]="inputCedula" required/></label>  
            <label for="txtnombre"><span>Nombre</span><input id="txtnombre" [(ngModel)]="cliente.nombre" [style.background]="inputNombre" required/></label>
            <label for="txtapellido"><span>Apellido</span><input id="txtapellido" [(ngModel)]="cliente.apellido" [style.background]="inputApellido" required/></label>
            <label for="txtcelular"><span>Celular</span><input id="txtcelular" [(ngModel)]="cliente.celular" placeholder="0999999999"/></label>
            <label for="txtcorreo"><span>Correo</span><input id="txtcorreo" [(ngModel)]="cliente.correo" placeholder="example@gmail.com"/></label>    
            <label for="txtdireccion"><span>Direccion</span><input id="txtdireccion" [(ngModel)]="cliente.direccion" [style.background]="inputDireccion" required/></label>
                <div class="example-button-row">
                <button id="boton" mat-raised-button (click)="guardarWS()">Guardar</button>
                </div>
        </div>
             <div class="tabla">
            <h2>Tabla</h2>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
              <ng-container matColumnDef="Cedula"  >
                <mat-header-cell  *matHeaderCellDef> Cedula </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.cedula}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.nombre}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Apellido">
                <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.apellido}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Celular">
                <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.celular}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Correo">
                <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.correo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Direccion">
                <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
                <mat-cell *matCellDef="let cliente"> {{cliente.direccion}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <span *ngIf="listadoClienteWS.length == 0">
              No existen contactos
          </span>
          </div>
    </div>    
</body>
</html>