<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cliente.component.scss">
</head>
<body>
    <div class="container">
        <div class="formulario">
            <h2>Nuevo Usuario</h2>
            <label for="txtcedula"><span>Cedula</span> <input id="txtcedula" placeholder="0111111111"/></label>  
            <label for="txtnombre"><span>Nombre</span><input id="txtnombre"/></label>
            <label for="txtapellido"><span>Apellido</span><input id="txtapellido"/></label>
            <label for="txtcelular"><span>Celular</span><input id="txtcelular" placeholder="0999999999"/></label>
            <label for="txtcorreo"><span>Correo</span><input id="txtcorreo" placeholder="example@gmail.com"/></label>    
            <label for="txtdireccion"><span>Direccion</span><input id="txtdireccion"/></label>
                <div class="example-button-row">
                <button id="boton" mat-raised-button>Guardar</button>
                </div>
        </div>
        <div class="tabla">
            <h2>Tabla</h2>
        </div>
    </div>
    
</body>
</html>