<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parqueadero</title>
  <link rel="stylesheet" href="app.component.scss">
</head>
<body>
<div class="encabezado">
  <h1>Parqueadero Web</h1>
  <div class="botones">
    <button routerLink="/" (click)="aparecerDiv()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
      </svg>
      Inicio
    </button>
    <button routerLink="/paginas/parqueadero" (click)="ocultarDiv()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-1-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
      </svg>
      Puestos
    </button>
    <button routerLink="/paginas/historial" (click)="ocultarDiv()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
      </svg>
      Historial
    </button>
    <button routerLink="/paginas/factura" (click)="ocultarDiv()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z"/>
      </svg>
      Facturacion
    </button>
    <button routerLink="/paginas/cliente" (click)="ocultarDiv()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
      </svg>
      Clientes
    </button>
    <button routerLink="/paginas/vehiculo" (click)="ocultarDiv()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
      </svg>
      Vechiculos
    </button>
    <button routerLink="/" (click)="aparecerDiv()">Inicio</button>
    <button routerLink="/paginas/parqueadero" (click)="ocultarDiv()">Puestos</button>
    <button routerLink="/paginas/historial" (click)="ocultarDiv()">Historial</button>
    <button routerLink="/paginas/factura" (click)="ocultarDiv()">Facturacion</button>
    <button routerLink="/paginas/cliente" (click)="ocultarDiv()">Clientes</button>
    <button routerLink="/paginas/ticket" (click)="ocultarDiv()">Tickets</button>
    <button routerLink="/paginas/vehiculo" (click)="ocultarDiv()">Vechiculos</button>
  </div>
  <div class="logo">
    <img src="https://steamuserimages-a.akamaihd.net/ugc/1789596671865739681/245B9E3456AEE2859A05ECDE78ABCD76672014BC/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="logo">
  </div>  
</div>
<div class="centroP" >
  <div class="centro" *ngIf="inicio">
    <img src="https://www.opain.co/images/img_20200403_120650.jpg" alt="centro">
    <h2>Bienvenido</h2>
    <button mat-raised-button class="hvr-radial-out example-button-row" routerLink="/paginas/parqueadero"(click)="ocultarDiv()">Iniciar</button> 
  </div>  
  
<div class="ventanas">
<router-outlet></router-outlet>
</div>
</div>
<div class="piedepagina">
<p>&copy; 2023 Andres Alvarado & Magna Mejia. Todos los derechos reservados.</p>
<p>Contáctanos: info@miempresa.com</p>
</div>
</body>
</html>