<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="parqueadero.component.scss">
</head>
<body>
    <div class="puestos">
        <button class="puesto">
            <h3> Puesto Libre N°:1</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:2</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:3</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:4</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:5</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:6</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:7</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:8</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:9</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:10</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:11</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:12</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:13</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:14</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:15</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:16</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:17</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:18</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:19</h3>
        </button>
        <button class="puesto">
            <h3> Puesto Libre N°:20</h3>
        </button>
    </div>
</body>
</html>
