  <div class="tabla">
   <h2>Tabla</h2>
   <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
     <ng-container matColumnDef="Placa"  >
       <mat-header-cell  *matHeaderCellDef> Placa </mat-header-cell>
       <mat-cell *matCellDef="let vehiculo"> {{vehiculo.placa}} </mat-cell>
     </ng-container>
     <ng-container matColumnDef="Marca">
       <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
       <mat-cell *matCellDef="let vehiculo"> {{vehiculo.marca}} </mat-cell>
     </ng-container>
     <ng-container matColumnDef="Tipo">
       <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
       <mat-cell *matCellDef="let vehiculo"> {{vehiculo.tipo}} </mat-cell>
     </ng-container>
     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>
   <span *ngIf="listadoVehiculosWS.length == 0">
     No existen vehiculos
 </span>
 </div>
